
.navbar {
    transition: background-color 0.3s ease-in-out;
}

.scrolled .navbar {
    background-color: transparent;
}
  
.navbar .navbar-brand img {
width: 60px;
height: 60px;
}

.navbar .navbar-brand .fw-bold {
margin-right: 5px; 
}

.navbar-nav .nav-item {
margin-right: 10px; 
}


.navbar .btn-theme {
margin-left: 5px; 
}

.name {
    color: grey;
}